*{
    background-color: rgb(169, 248, 248)
}

h1 {
    font-size: 40px; 
    color: rgb(238, 12, 12)
}

img {
    width: 250px;
    height: 250px;

}

body > div {
   width: 600px;
   height: 600px; 

}

#div1 {
    display: inline-block;
}

#div2 {
    display: inline-block;
}

#div3 {
    display: inline-block;
}

.element {
    height: 200px;
    width: 200px;
    background-color: red;
    animation: 
      pulse 1s ease infinite alternate, 
      nudge 2s linear infinite alternate;
    border-radius: 100%;
  }
  
  @keyframes pulse {
    0%, 100% {
      background-color: red;
    }
    50% {
      background-color: rgb(29, 11, 192);
    }
  }
  
  @keyframes nudge {
    0%, 100% {
      transform: translate(0, 0);
    }
    
    50% {
      transform: translate(150px, 0);
    }
    
    80% {
      transform: translate(0px, 100);
    }
  }
  
  
  


